*{ 
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
} 
body{ 
     font-family: 'borel', cursive; 
     /*background-color: #003554;*/ 
     background: #003554 url("Images/BG-1.png") no-repeat center center/cover; display: flex; justify-content: center; 
     align-items: center; 
     height: 100vh; 
     width: 100%; 
} 
.change{ 
    display: flex; 
    flex-direction: column; 
    height: 400px; 
    width: 500px; 
    padding: 10px; 
    /*background: #00A6FB; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);*/ 
    background: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    align-items: center; 
    justify-content: space-evenly; 
    border-radius: 10px; color: #DAEFB3; 
} 
.C{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /*background-color: #006494;*/ 
    background: #003554; 
    border: none; 
    align-items: center; 
    color: #0B7189; 
    font-weight: bold; 
    outline: none; 
} 
.C:active{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /* background-color: #006494; */ 
    background: #003554 url("Images/BT-1.png") no-repeat center center/cover; border: none; 
    align-items: center; 
    color: #0B7189; 
    font-weight: bold; 
    outline: none; 
} 
.C:hover{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /* background-color: #051923; */ 
    background: #003554 url("Images/BT-1.png") no-repeat center center/cover; border: none; 
    align-items: center; 
    color: #4D7C8A; 
    font-weight: bold; 
    outline: none; 
} 
.Button{ 
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
} 
.R:hover{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /* background-color: #051923; */ 
    background: #003554 url("Images/BT-2.png") no-repeat center center/cover; border: none; 
    align-items: center; 
    color: #4D7C8A; 
    font-weight: bold; 
    outline: none; 
} 
.R:active{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /* background-color: #006494; */ 
    background: #003554 url("Images/BT-2.png") no-repeat center center/cover; border: none; 
    align-items: center; 
    color: #0B7189; 
    font-weight: bold; 
    outline: none; 
} 
.R{ 
    text-decoration: none; 
    padding: 25px 50px 5px 50px; 
    border-radius: 5px; 
    font-style: bold; 
    /*background-color: #006494;*/ 
    background: #003554; 
    border: none; 
    align-items: center; 
    color: #0B7189; 
    font-weight: bold; 
    outline: none; 
} 
button { 
    border: none; 
    outline: none; 
    background: none; 
} 
.Word{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(172, 166, 166, 0.495);
    color: #003554;
    border-radius: 6px;
    padding: 15px;
    border: #003554 solid 3px;
}
#myText{
  margin-top: 5px;
  padding: 0;
  line-height: 1; 
}